### (1) The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by

#### Ans = Coefficient of Determination

### (2)How do you define a Residual?

#### Ans = Y − Y

### (3) The straight line graph of the equation Y = a + BX, the slope is horizontal if

#### Ans b = 0

### (4) Which of the one is true about Heteroskedasticity?

#### Ans = Linear Regression with varying error terms

### (5) Generally, which of the following method(s) is used for predicting continuous dependent variables?

#### Ans = 1 only (Linear Regression)

### (6) From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection?

#### Ans = Both use subset selection of features

### (7) Which of the following sentences is/are true about outliers in Linear Regression:


#### Ans = Linear regression is sensitive to outliers

### (8) Which of the following metrics can be used for evaluating regression models?

#### ANs = 1, 2, 3 and 4

### (9) A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?

#### Ans = 75% of the variance in Y is explained by X, X and Y are 75% related

### (10) Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?

#### Ans = R-square

### (11) The Lasso can be interpreted as least-squares linear regression where:

#### Ans =  Weights are regularized with the L1 norm

In [1]:
#import required libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
edata = pd.read_csv("energydata_complete.csv")
edata.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### (12) From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [3]:
eda = edata[['T2','T6']]

In [4]:
features_data = eda.drop(columns=['T6'])
target_var = eda['T6']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target_var,
test_size=0.3, random_state=1)

In [6]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#fit the model to the training dataset
lr.fit(x_train, y_train)

#obtain predictions
prediction = lr.predict(x_test)

In [7]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, prediction)
round(r2_score, 2)

0.65

### (13) Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

### What is the Mean Absolute Error (in two decimal places)?

In [8]:
edata = edata.drop(columns=['date', 'lights'])

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(edata), columns=edata.columns)
features_data = normalised_data.drop(columns=['Appliances'])
target = normalised_data['Appliances']

#Now, we split our dataset into the training and testing dataset.

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target,
test_size=0.3, random_state=42)

In [10]:
mlp = LinearRegression()
#fit the model to the training dataset
mlp.fit(x_train, y_train)
#obtain predictions
predicted_values = mlp.predict(x_test)

#Now getting the Mean absolute error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

### (14)  What is the Residual Sum of Squares (in two decimal places)?

In [11]:
rss = np.sum(np.square(y_test - predicted_values))
print('The Residual Sum of Squares in two decimal places is', round(rss, 2))

NameError: name 'rss' is not defined

### (15) What is the Root Mean Squared Error (in three decimal places)?

In [ ]:
# Calculating the RMSE

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

### (16) What is the Coefficient of Determination (in two decimal places)?

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
print('The Coefficient of Determination in two decimal places = ',round(r2_score, 2))

### (17) Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [ ]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(mlp, x_train, 'Linear_Model_Weight')

linear_model_weights

In [ ]:
min_weight = linear_model_weights['Linear_Model_Weight'].min()
max_weight = linear_model_weights['Linear_Model_Weight'].max()

In [ ]:
min_weight

In [ ]:
max_weight

### (18) Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

#### Yes

### (19) Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

In [ ]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [ ]:
complete_weights = lasso_weights_df

In [ ]:
complete_weights

### (20) What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [ ]:
predicts = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicts))
round(rmse, 3)

In [ ]:
print('The new Root Mean Squared Error with Lasso Regression is ', round(rmse, 3))